.scrum-master-row {
    display: flex;
}

.scrum-master-name {
    min-width: 200px;
    text-align: center;
    
}

.focus-true{
    background-color: rgb(63, 90, 148);
}

.scrum-master-skill {
    width: 50px;
    min-height: 50px;
    margin: 25px;
    text-align: center;
}