.header {
    display: flex;
}

.name-header {
    width: 180px;
    margin: 0 10px;
    background-color: lightblue; 
}

.skill-header {
    width: 80px;
    text-align: center;
    margin: 0 10px;
    background-color: lightblue; 
}